

.navbar {
    font-variant: small-caps; 
    background-color: rgba(46,40,130,255);
    font-weight: bold;
    font-size: 16px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.navbar-nav a {
    color: white;
}

.navbar .dropdown-menu li a {
    color: black;
}
.d-flex a {
    font-weight: bold;
    color: white;
}

.image_slider {
    margin-top: 1.7rem;
}
@media (max-width: 800px) {
    .image_slider {
        margin-top: 4rem;
    }
}

#carouselExampleCaptions {
    margin-top: -5%;
}
.catch-line {
    margin-top: -21rem;
    margin-bottom: 12rem;
    color: lightgoldenrodyellow;    
}
.line-1 {
    font-size: 3.5rem;
}
.line-2 {
    font-size: 1.2rem;
}
@media (max-width: 800px) {
    .catch-line {
        margin-bottom: 10%;
        margin-top: -6.5rem;
        margin-left: 2rem;
        box-sizing: content-box;
        width: 10rem;
        height: 5rem;
        text-align: left;
    }    
}
@media (max-width: 800px) {
    .line-1 {
        font-size: 80%;
        text-align: left
        margin-left: ;
    }
    .line-2 {
        font-size: 50%;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}
.out-box a {
    text-decoration: none;
}

#middle-page1 {
    text-align: center;
}
.img-box1 img {
    border-radius: 40%;
}
.content-box1 a {
    text-decoration: none;
}
.col-md-12 {
    margin-bottom: 50px;

}
.col-lg-4 .md-6 .fst-italic {
    margin-bottom: 50px;
}

.mt-5 {
    border: 5px solid rgba(46,40,130,255);
}
.row .accredition {
   
}
h2 {
    text-align: center;
}
#contactme {
    margin-top: 3rem;
}
.list {
}
.list ul {
    list-style-type: none;
    
}
.list ul li {
    
}
.list ul li a {
    float: left;
    margin: 5px;
    padding: 5px;
    
}

span {
    font-weight: bold;
}

#map {
    width: 100%;
    height: auto;
    
    margin-top: 0px;
    background-color: ;
}
.direction {
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin-top: 10px;
}
.content-box2 {
    width: 100%;
    height: auto;
    margin-left: 0%;
    border: ;
    background-color:;
}
.content-box2 h2 {   
    
}
.content-box2 p {
    text-align: center;
    background-color: ;
}
.google-map {
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: rgba(46,40,130,255);;
    padding: 70px 0;
    margin-top: 10px;
}

.footer-col .left-col {
    height: 200px;
    background-color: ;
}
.footer-col .left-col p {
    margin-top: 15px;
    background-color: ;
}


.footer-col {
    width: 100%;
    padding: 0 0px;
}
.footer-col p {
    font-size: 14px;
    color: #ffffff;
    text-transform: ;    
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: ;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: ;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffd700;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgb(205, 5, 175);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*Responsive*/
/* @media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;    
    }
} */


/*Logo*/
.last-line {
    background-color: ;
    width: 50%;
    margin-left: 25%;
    margin-bottom: -50px;
}
.last-line p {
    color: #ffffff;
    background-color: ;
    text-align: center;
    width: 90%;
    height: 50px;
    vertical-align: baseline;
    margin-top: 50px;
    
}